@model Haver_Niagara.Models.NCR

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NCR</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NCR_Date" class="control-label"></label>
                <input asp-for="NCR_Date" class="form-control" />
                <span asp-validation-for="NCR_Date" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NCR_Status" /> @Html.DisplayNameFor(model => model.NCR_Status)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NewNCRID" class="control-label"></label>
                <input asp-for="NewNCRID" class="form-control" />
                <span asp-validation-for="NewNCRID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldNCRID" class="control-label"></label>
                <input asp-for="OldNCRID" class="form-control" />
                <span asp-validation-for="OldNCRID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsArchived" class="control-label"></label>
                <input asp-for="IsArchived" class="form-control" />
                <span asp-validation-for="IsArchived" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NCR_Stage" class="control-label"></label>
                <select asp-for="NCR_Stage" class="form-control"></select>
                <span asp-validation-for="NCR_Stage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NCRSupplierID" class="control-label"></label>
                <select asp-for="NCRSupplierID" class="form-control" asp-items="ViewBag.SupplierID"></select>
            </div>
            <div class="form-group">
                <label asp-for="PartID" class="control-label"></label>
                <select asp-for="PartID" class ="form-control" asp-items="ViewBag.PartID"></select>
            </div>
            <div class="form-group">
                <label asp-for="OperationID" class="control-label"></label>
                <select asp-for="OperationID" class ="form-control" asp-items="ViewBag.OperationID"></select>
            </div>
            <div class="form-group">
                <label asp-for="EngineeringID" class="control-label"></label>
                <select asp-for="EngineeringID" class ="form-control" asp-items="ViewBag.EngineeringID"></select>
            </div>
            <div class="form-group">
                <label asp-for="QualityInspectionID" class="control-label"></label>
                <select asp-for="QualityInspectionID" class ="form-control" asp-items="ViewBag.QualityInspectionID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProcurementID" class="control-label"></label>
                <select asp-for="ProcurementID" class ="form-control" asp-items="ViewBag.ProcurementID"></select>
            </div>
            <div class="form-group">
                <label asp-for="QualityInspectionFinalID" class="control-label"></label>
                <select asp-for="QualityInspectionFinalID" class ="form-control" asp-items="ViewBag.QualityInspectionFinalID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
