@model Haver_Niagara.Models.PartName

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePartNames">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <textarea class="form-control" id="partnames" name="partnames" rows="3" required></textarea>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mt-2">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <partial name="_BackToList" />
</div>

