<br />
<div class="card mb-sm-3" style="min-width: 18rem;">
    <h4 class="card-header" id="Supplier">Suppliers</h4>
    <div class="card-body">
        @Html.DropDownList("SupplierID", null, htmlAttributes: new { @size = 6, @class = "form-control" })
    </div>
    <div class="card-footer">
        <a asp-controller="Supplier" asp-action="Create">Create</a> |
        <a asp-controller="Supplier" asp-action="Edit" class="linkClick">Edit</a> |
        <a asp-controller="Supplier" asp-action="Delete" class="linkClick">Delete</a>
    </div>
</div>
@{
    var editErr = TempData["ErrorMessage"] as string;
}
@if (!string.IsNullOrEmpty(editErr))
{

    <div class="toastCreate align-items-center justify-content-center" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="5000">
        <div class="toastCreate-header">
            <strong class="me-auto">Error! Supplier has NCR assigned</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toastCreate" aria-label="Close"></button>
        </div>
        <div class="toastCreate-body">
            @Html.Raw(editErr)
        </div>
    </div>
}
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.linkClick').click(function () {
                var controller = $(this).data('controller');
                var action = $(this).data('action');
                var url = '/' + controller + '/' + action;
                window.location.href = url;
            });
        });
    </script>
}